*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
    
}
  
/* barra de navegaccion */

.nav-link{
 font-family: "Courgette", cursive;
 font-size:1rem;
 color: #33353d;
 
  }
  
  .navbar {
  padding: 3rem;
  background-color: pink;
 }
  

 
.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}



/* carrusel */
.slide {
  margin: 1rem;
}

.slide img {
  min-height: 15rem;
  height: 70vh;
  object-fit: cover; 
  object-position: center;
  opacity: 0.8;
 
}

h1{
  
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    padding: 9rem;
     opacity: 0.8;
 
  }

  h2{
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    padding: 9rem;
     opacity: 0.8;
     
     
  }
/* sobre MI____________________________________________________ */

 .titulo{
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  font-family: "Playwrite PT", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: black;
 }

 .titulo:hover{
  color:white;
 }
 p{
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 10px;
  color: white;
  
 }
 
 .sobre-mi{
  background-color: #737373;
 }

 .clearfix{
  padding: 10px;
  margin: 1rem;
 }

 @media screen and (max-width: 767px) {
  .col-md-4 {
    width: 100%;
    width: 100%;
    border-style: solid;
    
  }
 }
 
  
 
 /* menu______________________ */

 
 .tortas{
  
  padding: 10px;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 }
 
.chocolate{
  padding: 1px;
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

.carousel img{
  min-height: 15rem;
  height: 50vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
  
   
  }
.fondo{
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  
}

@media screen and (max-width: 404px){
.fondo{
  background-color: white;
}
}

.col-6{
  display: flex;
}
@media screen and (max-width: 404px){
  .col-6{
    flex-direction: column;
}
}

@media screen and (max-width: 767px){
  .imag :hover{
    transform: scale(1.1)
  }
}

.imag{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border: 4px double black;
  opacity: 0.9;
}


 .imag:hover {
  transform: scale(1.1);
}

.enunciado{
  background-color: #f5f5ed00;
 background-image: radial-gradient(at top center, #ffffffc4 0%, #0f0f0f00 100%), linear-gradient(to top, #07070700 0%, #201f1f00 100%);
 	background-blend-mode: normal, multiply;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(20, 20, 20);
  opacity: 0.9;
}

.ama{
  font-family: PlayfairDisplay-Bold;
    font-size: 20px;
    color: black;
    line-height: 1.2;

}

.ama:hover{
  color:red;
}


/*contacto ____________________________ */



.contacto{
  background-color: black;
}
  
.contatenos{
  font-size: 4rem;
  font-family: PlayfairDisplay-Bold;
  text-align: center;
}
.contatenos:hover{
  color: red;
}

.escribenos{
  text-align: center;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.evento{
  text-align: center;
  font-family:  "Dancing Script", cursive;
  color: red;
  font-size: 2rem;
}

.padre{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  
}

.hijo{
  background-image: linear-gradient(to top, #ffffffce 0%, #f5f5f5de 100%);
  width: 500px;
  height:  350px;
  padding: 2rem;
  opacity: 0.9;
}
  
.datos{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  color: #000000;
  text-align: center;
  opacity: 0.9;
}


/* footer */
.site-footer
{
  background-color:#161616e1;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fafafa;
}
.site-footer hr
{
  border-top-color:#ffffff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:2rem
}
.seccion{
  font-family: PlayfairDisplay-Bold;
  color:#ff002b;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:#f00b0b;
}
.site-footer a:hover
{
  color: red;
  text-decoration: none;
}
.footer-links{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
 opacity: 0.7;


}

.footer-links li
{
  display:block
}
.footer-links a
{
  color:white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  
  color:blue;
  text-decoration: none;
  opacity: 0.9;
  
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#0363e0;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#f9fafa;
  color:#eff1f3;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}


